fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==1.0.0
requests==2.31.0
pydantic[email]
sqlalchemy==2.0.23
mysqlclient
PyJWT==2.8.0

# Dependências para SAML CAFe
django==4.2.23
djangosaml2==1.5.7
pysaml2==7.4.1
cryptography==41.0.7
xmlsec

# Dependências adicionais para autenticação
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
authlib==1.2.1
pymysql
itsdangerous
httpx
google-auth-oauthlib==0.5.3
psutil
